<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.masterbaron.intenttunnel.android">



    <application>
        <activity
            android:name="com.masterbaron.intenttunnel.android.AndroidConfigureActivity">
        </activity>
        <activity
            android:name="com.masterbaron.intenttunnel.android.DeviceSelectActivity"
            android:label="Select Bluetooth Device">
        </activity>
    </application>

</manifest>
