<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.masterbaron.intenttunnel.glass">


    <application>
        <activity
            android:name="com.masterbaron.intenttunnel.glass.GlassConfigureActivity"
            android:theme="@style/MenuTheme">
        </activity>
        <activity
            android:name="com.masterbaron.intenttunnel.glass.DeviceSelectActivity"
            android:label="Select Bluetooth Device">
        </activity>

    </application>

</manifest>
